.air {
    margin-top: 4em;
}

.textbox {
    max-width: 51em;
    margin: 0 auto;
}

P {
    text-align: center;
}
h1 {
    text-align: center;    
}
hr {
    margin-right: auto;
    margin-left: auto;
}
