
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
    $(function () {
        var pull = $('#pull');
        menu = $('nav ul');
        menuHeight = menu.height();

        $(pull).on('click', function (e) {
            e.preventDefault();
            menu.slideToggle();
        });

//        			$(window).resize(function(){
//                		var w = $(window).width();
//                		if(w > 320 && menu.is(':hidden')) {
//                			menu.removeAttr('style');
//                		}
//            		});
    });
</script>

<!-- Le javascript
	================================================== -->
<!--Placed at the end of the document so the pages load faster
	     jQuery (necessary for Bootstrap's JavaScript plugins)
	    <script src="https://code.jquery.com/jquery.js"></script>
	    Include all compiled plugins (below), or include individual files as needed 
	    <script src="js/bootstrap.min.js"></script> -->

</body>

</html>