<div class="container-fluid">    
    <div class="row">
				
        <nav class="imgphone">
        	<ul>
        		<li><a href="about_us.html">За нас</a></li>      
        		<li><a href="courses.html">Курсове</a></li>
        		<li><a href="signup.html">Запиши се</a></li>      
        		<li><a href="gallery.html">Галерия</a></li> 
        		<li><a href="blog.html">Блог</a></li>      
        		<li><a href="contacts.html">Контакти</a></li>
        	</ul>
        	<a href="#" id="pull"><img src="img/menu.svg"></a>
        </nav>

       <div class="col-md-10 col-md-offset-1 imgdisplay">
            <a href="https://instagram.com/sito.studio/" target="_blank"><i class="icon-instagramm"></i></a>
            <a href="https://twitter.com/sito_studio" target="_blank"><i class="icon-twitter"></i></a>
            <a href="https://www.facebook.com/studio.sito" target="_blank"><i class="icon-facebook"></i></a>
        </div>

        <div class="col-md-10 col-md-offset-1 navigation">	
        	<a href="index_6.html" class="logo" href="javascript:void(0);"ontouchstart="return true;"></a> 
			    <ul class="topnav">
			        <li><a href="about_us.html">За нас</a>
			        </li>      
			        <li><a href="courses.html">Курсове</a>
			        </li>
			        <li><a href="signup.html">Запиши се</a>
			        </li>      
			        <li><a href="gallery.html">Галерия</a>
			        </li>  
			        <li><a href="blog.html">Блог</a>
			        </li>      
			        <li><a href="contacts.html">Контакти</a>
			        </li>     
			    </ul>
    	</div>
	</div>    
</div> <!--container-->