$color-black: #231f20;

$color-blue: rgba(105, 211, 253, 0.97);

$color-green: rgba(109, 255, 125, 0.87);  

$color-green2: rgba(109, 255, 125, 0.87); 

$color-orange: rgba(255, 250, 124, 0.74);     

$color-white: #ffffff;

$color-gray: #ebebeb;

$color-red: rgba(255, 93, 99, 0.9);

$color-purple: rgba(193, 113, 255, 0.86);

$color-brown: rgba(250, 213, 158, 0.96);